In [1]:
import pandas as pd

In [2]:
csv_file = "city_data.csv"
city_data_df = pd.read_csv(csv_file)
city_data_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Ribeira Grande,38.52,-28.70,69.58,80,5,11.59,PT,1595109849
1,Rikitea,-23.12,-134.97,72.41,79,23,19.22,PF,1595109849
2,Ilulissat,69.22,-51.10,57.20,33,100,3.36,GL,1595109849
3,Tuktoyaktuk,69.45,-133.04,41.00,93,90,11.41,CA,1595109849
4,Alofi,-19.06,-169.92,78.80,69,84,8.05,NU,1595109665

In [4]:
city_data_df.to_html("../visualizations/city_data.html", index=False, header=True)